body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1rem;
	background: #182430;
}

button {
	background: transparent;
    border: none;
}

.font-weight-100 {
	font-weight: 100;
}

.letter-spacing-4px {
	letter-spacing: 4px;
}

.bg-dark-primary {
	background-color: #182430;
}

.bg-dark-secondary {
	background-color: #071116;
}

.background {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.background.main-pic {
	background-position: top;
}

.no-underline {
    text-decoration: none;
}

.no-underline:hover {
    text-decoration: none;
}

#showcase-background-thelizberries {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
		url("../lizberries/lizberriesPhotos/theLizberriesHome.jpg");
}
#showcase-background-thelizards {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
		url("../thelizards/lizardsPhotos/theLizardsHome.jpg");
}
#showcase-background-5cerealiz {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
		url("../5cerealiz/5cerealizPhotos/5CerealizHome.jpg");
}
#showcase-background-promo-lizberries {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
		url("../lizberries/lizberriesPhotos/background-video-promo.jpg");
	background-position: center; /* Centra l'immagine */
	background-size: cover; /* Fa in modo che l'immagine copra l'intera sezione */
	background-repeat: no-repeat; /* Evita che l'immagine si ripeta */
	background-attachment: fixed; /* Mantiene l'immagine fissa durante lo scroll */
}
#showcase-promo-5cerealiz {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
		url("../5cerealiz/5cerealizPhotos/background-video-promo.jpg");
}
#showcase-background-live-lizberries {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
		url("../lizberries/lizberriesPhotos/background-lizberries-live.png");
	background-position: center; /* Centra l'immagine */
	background-size: cover; /* Fa in modo che l'immagine copra l'intera sezione */
}
#showcase-background-thelizards img,
#showcase-background-thelizberries img,
#showcase-background-5cerealiz img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}

/* Specifica l'altezza minima e altre regole per l'elemento principale su schermi piccoli */
@media (max-width: 768px) {
	#showcase-background-thelizards,
    #showcase-background-thelizberries,
	#showcase-background-5cerealiz {
        background-size: cover; /* Assicurati che lo sfondo si adatti */
        padding: 0;
    }

    #showcase-background-thelizards img,
	#showcase-background-thelizberries img,
	#showcase-background-5cerealiz img {
        width: 100%; /* Immagine che si adatta alla larghezza del contenitore */
        height: auto; /* Mantieni il rapporto d'aspetto */
    }

    /* Aggiungi eventualmente un padding o margine se necessario */
}

.btn-gradient {
	background: linear-gradient(217deg, #f8174b, #7f1fa3 70.71%);
	border: 1px solid rgba(72, 48, 48, 0.5);
}

.btn-primary-ticket {
    margin-top: 20px;
    margin-bottom: 40px;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    max-width: 400px;
    margin-bottom: 40px;
}

.btn-wrapper a {
    max-width: 400px;
    width: 70%;
    text-align: center;
}

.cover {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}

.container-title {
	margin-top: 30%;
}

.grid {
	display: grid;
}

.grid-center {
	place-items: center;
}

.text-red {
	color: #f8174b;
}

a.text-red:hover {
	color: #f8174b;
}

.btn-outline-red {
	border: 1px solid #f8174b;
	background: transparent;
}

.form-outline-gray {
	display: block;
	width: 100%;
	font-size: 1rem;
	line-height: 1.5;
	background: transparent;
	padding: 0.375rem 0.75rem;
	outline: 0;
	border: none;
	border-radius: 0px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	color: #f8174b;
	transition: border-color 0.15s ease-in-out;
}

.form-outline-gray:focus,
.form-outline-gray:active {
	border-color: #f8174b;
}

.form-outline-gray:focus ~ .label-absolute,
.form-outline-gray:valid ~ .label-absolute {
	color: #f8174b;
	top: -1.1rem;
	left: 0;
	transform: scale(0.8);
}

.label-absolute {
	position: absolute;
	top: 0.5rem;
	left: 0.8rem;
	color: #f2f4f3;
	transition: all 0.5s ease-in-out;
	color: rgba(255, 255, 255, 0.5);
}

.hr-red {
	display: inline-block;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 3px solid rgb(248, 23, 75);
	width: 15em;
}

.position-center {
	left: 50%;
	transform: translateX(-50%);
}

.position-bottom {
	bottom: 1rem;
}

/* Altezza fissa per schermi più grandi */
.h-500px {
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Il contenuto si allinea verso il basso */
    overflow: hidden; /* Nasconde eventuali parti in eccesso dell'immagine */
    position: relative;
    text-align: center;
}

/* Le immagini si adattano al contenitore senza deformarsi */
.h-500px img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assicura che l'immagine copra l'intero spazio */
}

/* Testo sovrapposto sulle immagini */
.h-500px h4 {
    position: absolute;
    bottom: 10px; /* Leggermente sopra il bordo inferiore */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.6); /* Sfondo scuro semitrasparente */
    padding: 5px 10px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Adatta l'altezza delle card per schermi più piccoli */
@media (max-width: 992px) {
    .h-500px {
        height: 400px;
    }
}

@media (max-width: 768px) {
    .h-500px {
        height: 300px;
    }
}

@media (max-width: 576px) {
    .h-500px {
        height: 250px;
    }

    /* Le immagini si adattano alla larghezza del contenitore */
    .h-500px img {
        width: 100%;
        height: 100%;
    }

    /* Il testo rimane visibile anche su schermi più piccoli */
    .h-500px h4 {
        font-size: 14px;
        padding: 3px 8px;
    }
}

.social-media {
	font-size: 20px;
}

.social-media a {
    margin-left: 1rem;
}

.bi-facebook, .bi-youtube, .bi-instagram, .bi-spotify {
	color: rgba(255, 255, 255, 0.5);
}

.bi-facebook:focus, .bi-facebook:hover, .bi-youtube:focus, .bi-youtube:hover, 
.bi-instagram:focus, .bi-instagram:hover, bi-spotify:focus, .bi-spotify:hover {
    color: rgba(255, 255, 255, 0.75);
}

.spotify-iframe {
    border-radius: 12px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.facebook-iframe {
    border: none;
    overflow: hidden;
}

.portfolio-menu{
	text-align:center;
}
.portfolio-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
}

.portfolio-item .item{
	/*width:303px;*/
	float:left;
	margin-bottom:10px;
}
.img-fluid {
    height: 100%!important;
}

.modal-content {
	background-color: #071116;
}

.a-footer {
	margin-right: 10px;
}

/* Rendi l'intero contenitore orizzontalmente scrollabile */
.portfolio-item-container {
    overflow-x: auto; /* Scrolling orizzontale */
    white-space: nowrap;
    padding-bottom: 15px;
}

.portfolio-item {
    display: flex;
    gap: 10px; /* Spazio tra le immagini */
}

.item {
    flex-shrink: 0; /* Prevenire il ridimensionamento delle immagini */
    margin-right: 10px;
}

.max-height-155 {
    max-height: 155px;
    object-fit: cover;
    display: block;
}

/* Personalizzazione delle scrollbar, compatibile solo con Webkit (Chrome, Safari) */
.portfolio-item-container::-webkit-scrollbar {
    height: 8px; /* Altezza della scrollbar */
}

.portfolio-item-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.portfolio-item-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Image orizontal carousel */
.portfolio-item-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth; /* Aggiungi il comportamento smooth */
}

.portfolio-item {
    display: flex;
    flex-wrap: nowrap; /* Impedisce il ritorno a capo delle immagini */
    gap: 15px; /* Aggiungi spazio tra le immagini se necessario */
}

.item {
    min-width: 150px; /* Imposta una larghezza minima per gli elementi */
}

.img-fluid {
    max-height: 155px;
    object-fit: cover;
}

.img-fluid_tqol {
    /*max-height: 500px;*/
    object-fit: cover;
    max-width: 400px;
}

.scroll-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    height: 40px;
}

.left-scroll {
    left: 0;
}

.right-scroll {
    right: 0;
}

/* Pulsante hamburger sempre visibile */
.navbar-toggler {
    display: block; /* Assicurati che sia visibile su tutti gli schermi */
    border: none;
    outline: none;
	margin-left: auto; /* Sposta il pulsante a destra */
    margin-right: 0;   /* Elimina eventuali margini a destra */
}

/* Allinea il pulsante sulla stessa riga delle informazioni del <nav> */
.navbar-toggler {
    margin-left: 10px; /* Regola la distanza a sinistra se necessario */
	border: none;
    outline: none;
    cursor: pointer;
}

@media (min-width: 768px) {
    /* Mostra il pulsante anche su schermi grandi */
    .navbar-toggler {
        display: block !important;
    }
}

/* Stile per il sottomenu */
.submenu {
    display: none;
    position: absolute;
    top: 100%; /* Posizionamento dinamico tramite JavaScript */
    left: 0;   /* Viene aggiornato dinamicamente */
    padding: 1px;
    list-style-type: none;
    z-index: 10;
    text-align: center;
    width: auto; /* Adatta automaticamente la larghezza */
}

.submenu.show {
    display: block; /* Mostra il menu quando attivo */
    animation: slideDown 0.3s ease-in-out;
}

.submenu.hide {
	display: block; /* Mostra il menu quando attivo */
    animation: slideUp 0.3s ease-in-out forwards;
}

/* Effetto di srotolamento */
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Effetto di srotolamento verso l'alto (chiusura) */
@keyframes slideUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

/* Stile delle voci del sottomenu */
.submenu li {
    padding: 8px 0;
}

.submenu a {
    color: #fff; /* Colore del testo */
    font-size: 14px; /* Simile ai titoli principali */
    text-transform: uppercase; /* Stessa trasformazione dei titoli principali */
    font-weight: 100; /* Peso del carattere */
    letter-spacing: 4px; /* Spaziatura simile ai titoli principali */
    text-decoration: none;
}

.submenu a:hover {
    color: #000000; /* Colore di hover */     
}

/* Stile per l'allineamento del pulsante hamburger */
.navbar-toggler {
    margin-left: auto; /* Allinea a destra */
}

/* Rende il pulsante sempre visibile su dispositivi più grandi */
@media (min-width: 768px) {
    .navbar-toggler {
        display: inline-block;
    }
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: rgba(255, 255, 255, .5) !important;
}

.navbar-toggler:focus, .navbar-toggler:hover {
    color: rgba(255, 255, 255, .75);
}

.gig-live {
    margin-top: 1rem;
    margin-bottom: 0rem;
}

/* Collaborations section */
#showcase-collaborations-lizberries .card:hover {
    transform: scale(1.05);
}

/*Booking - Management section*/
#showcase-booking-lizberries .card {
    border-radius: 10px;
    transition: transform 0.3s;
}

#showcase-booking-lizberries .card:hover {
    transform: scale(1.05);
}

#showcase-booking-lizberries .btn {
    margin-top: 15px;
}

.card-body b {
	font-weight: bold; 
}

/* test css sorry mum */
.container {
    position: relative;
}
/* Stile di default per desktop */
.img-container {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 200px;
    z-index: 1000;
    transition: all 0.3s ease;
}

.transparent-bg {
    background-color: rgba(0, 0, 0, 0);
}

.img-max-width-200 {
    max-width: 200px;
}

.padding-top-10 {
    padding-top: 10px;
}

.img-container .card-title {
    font-size: 1rem;
    line-height: 1.2;
}

/* Stili per dispositivi mobili e tablet */
@media (max-width: 768px) {
    .img-container {
        position: static; /* Cambia il posizionamento da assoluto a statico */
        max-width: 30%; /* Permette al contenitore di occupare tutta la larghezza disponibile */
        margin: 20px auto; /* Aggiunge margine superiore e inferiore e centra il contenitore */
        text-align: center; /* Centra il testo all'interno del contenitore */
    }

    .img-container .card-title {
        font-size: 0.75rem; /* Aumenta leggermente la dimensione del testo per una migliore leggibilità */
    }
    .card-body .text-center {
        padding-top: 0px;
    }

    .img-container .card-body {
        font-size: 1rem; /* Riduci anche il testo */
    }

    .img-container img {
        max-width: 70%; /* Riduci l'immagine per i dispositivi mobili */
        height: auto;
    }

    .display-2 {
        font-size: 2.5rem;
    }
}

.hidden-message {
    display: none;
}

/* Stili generali per l'immagine */
.img-container img {
    max-width: 100%;
    height: auto;
}

/* Stili per le immagini presenti nel riquadro Press */
.press-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between images as needed */
    justify-content: center;
}

.press-gallery .polaroid {
    position: relative;
    /*width: 200px; */
    padding: 10px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: rotate(calc(-5deg + 10deg * var(--rotation)));
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 205px;
}

.press-gallery .polaroid:hover {
    transform: rotate(0deg) scale(1.05);
}

.press-gallery .polaroid img {
    width: 100%;
    height: auto;
    display: block;
    flex-grow: 1;
}

.press-gallery .polaroid .caption {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8); /* Add a background color */
    padding: 5px; /* Add some padding */
    border-radius: 5px; /* Add rounded corners */
    flex-shrink: 0; /* Prevent the caption from shrinking */
}
