body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    background: #182430
}

button {
    background: transparent;
    border: none
}

.font-weight-100 {
    font-weight: 100
}

.letter-spacing-4px {
    letter-spacing: 4px
}

.bg-dark-primary {
    background-color: #182430
}

.bg-dark-secondary {
    background-color: #071116
}

.background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.background.main-pic {
    background-position: top
}

.no-underline {
    text-decoration: none
}

.no-underline:hover {
    text-decoration: none
}

#showcase-background-thelizberries {
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .6)), url("../lizberries/lizberriesPhotos/theLizberriesHome.webp")
}

#showcase-background-thelizards {
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .6)), url("../thelizards/lizardsPhotos/theLizardsHome.webp")
}

#showcase-background-5cerealiz {
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .6)), url("../5cerealiz/5cerealizPhotos/5CerealizHome.webp")
}

#showcase-background-promo-lizberries {
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .7)), url("../lizberries/lizberriesPhotos/background-video-promo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

#showcase-promo-5cerealiz {
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .7)), url("../5cerealiz/5cerealizPhotos/background-video-promo.jpg")
}

#showcase-background-live-lizberries {
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .7)), url("../lizberries/lizberriesPhotos/background-lizberries-live.png");
    background-position: center;
    background-size: cover
}

#showcase-background-thelizards img,
#showcase-background-thelizberries img,
#showcase-background-5cerealiz img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block
}

@media (max-width:768px) {

    #showcase-background-thelizards,
    #showcase-background-thelizberries,
    #showcase-background-5cerealiz {
        background-size: cover;
        padding: 0
    }

    #showcase-background-thelizards img,
    #showcase-background-thelizberries img,
    #showcase-background-5cerealiz img {
        width: 100%;
        height: auto
    }
}

.btn-gradient {
    background: linear-gradient(217deg, #f8174b, #7f1fa3 70.71%);
    border: 1px solid rgba(72, 48, 48, .5)
}

.btn-primary-ticket {
    margin-top: 20px;
    margin-bottom: 40px
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    max-width: 400px;
    margin-bottom: 40px
}

.btn-wrapper a {
    max-width: 400px;
    width: 70%;
    text-align: center
}

.cover {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.container-title {
    margin-top: 30%
}

.grid {
    display: grid
}

.grid-center {
    place-items: center
}

.text-red {
    color: #f8174b
}

a.text-red:hover {
    color: #f8174b
}

.btn-outline-red {
    border: 1px solid #f8174b;
    background: transparent
}

.form-outline-gray {
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    background: transparent;
    padding: .375rem .75rem;
    outline: 0;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    color: #f8174b;
    transition: border-color .15s ease-in-out
}

.form-outline-gray:focus,
.form-outline-gray:active {
    border-color: #f8174b
}

.form-outline-gray:focus~.label-absolute,
.form-outline-gray:valid~.label-absolute {
    color: #f8174b;
    top: -1.1rem;
    left: 0;
    transform: scale(.8)
}

.label-absolute {
    position: absolute;
    top: .5rem;
    left: .8rem;
    color: rgba(255, 255, 255, .5);
    transition: all .5s ease-in-out
}

.hr-red {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid rgb(248, 23, 75);
    width: 15em
}

.position-center {
    left: 50%;
    transform: translateX(-50%)
}

.position-bottom {
    bottom: 1rem
}

.h-500px {
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
    text-align: center
}

.h-500px img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.h-500px h4 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, .6);
    padding: 5px 10px;
    font-weight: bold;
    text-transform: uppercase
}

@media (max-width:992px) {
    .h-500px {
        height: 400px
    }
}

@media (max-width:768px) {
    .h-500px {
        height: 300px
    }
}

@media (max-width:576px) {
    .h-500px {
        height: 250px
    }

    .h-500px img {
        width: 100%;
        height: 100%
    }

    .h-500px h4 {
        font-size: 14px;
        padding: 3px 8px
    }
}

.social-media {
    font-size: 20px
}

.social-media a {
    margin-left: 1rem
}

.bi-facebook,
.bi-youtube,
.bi-instagram,
.bi-spotify {
    color: rgba(255, 255, 255, .5)
}

.bi-facebook:focus,
.bi-facebook:hover,
.bi-youtube:focus,
.bi-youtube:hover,
.bi-instagram:focus,
.bi-instagram:hover,
bi-spotify:focus,
.bi-spotify:hover {
    color: rgba(255, 255, 255, .75)
}

.spotify-iframe {
    border-radius: 12px
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.facebook-iframe {
    border: none;
    overflow: hidden
}

.portfolio-menu {
    text-align: center
}

.portfolio-menu ul li {
    display: inline-block;
    margin: 0;
    list-style: none;
    padding: 10px 15px;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

.portfolio-item .item {
    float: left;
    margin-bottom: 10px
}

.img-fluid {
    height: 100% !important
}

.modal-content {
    background-color: #071116
}

.a-footer {
    margin-right: 10px
}

.portfolio-item-container {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 15px
}

.portfolio-item {
    display: flex;
    gap: 10px
}

.item {
    flex-shrink: 0;
    margin-right: 10px
}

.max-height-155 {
    max-height: 155px;
    object-fit: cover;
    display: block
}

.portfolio-item-container::-webkit-scrollbar {
    height: 8px
}

.portfolio-item-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px
}

.portfolio-item-container::-webkit-scrollbar-thumb:hover {
    background-color: #555
}

.portfolio-item-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth
}

.portfolio-item {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px
}

.item {
    min-width: 150px
}

.img-fluid {
    max-height: 155px;
    object-fit: cover
}

.img-fluid_tqol {
    object-fit: cover;
    max-width: 400px
}

.scroll-btn {
    background-color: rgba(0, 0, 0, .5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    height: 40px
}

.left-scroll {
    left: 0
}

.right-scroll {
    right: 0
}

.navbar-toggler {
    display: block;
    border: none;
    outline: none;
    margin-left: auto;
    margin-right: 0
}

.navbar-toggler {
    margin-left: 10px;
    border: none;
    outline: none;
    cursor: pointer
}

@media (min-width:768px) {
    .navbar-toggler {
        display: block !important
    }
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 1px;
    list-style-type: none;
    z-index: 10;
    text-align: center;
    width: auto
}

.submenu.show {
    display: block;
    animation: slideDown .3s ease-in-out
}

.submenu.hide {
    display: block;
    animation: slideUp .3s ease-in-out forwards
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-20px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes slideUp {
    0% {
        opacity: 1;
        transform: translateY(0)
    }

    100% {
        opacity: 0;
        transform: translateY(-20px)
    }
}

.submenu li {
    padding: 8px 0
}

.submenu a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 4px;
    text-decoration: none
}

.submenu a:hover {
    color: #000
}

.navbar-toggler {
    margin-left: auto
}

@media (min-width:768px) {
    .navbar-toggler {
        display: inline-block
    }
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: rgba(255, 255, 255, .5) !important
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    color: rgba(255, 255, 255, .75)
}

.gig-live {
    margin-top: 1rem;
    margin-bottom: 0rem
}

#showcase-collaborations-lizberries .card:hover {
    transform: scale(1.05)
}

#showcase-booking-lizberries .card {
    border-radius: 10px;
    transition: transform .3s
}

#showcase-booking-lizberries .card:hover {
    transform: scale(1.05)
}

#showcase-booking-lizberries .btn {
    margin-top: 15px
}

.card-body b {
    font-weight: bold
}

.container {
    position: relative
}

.img-container {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 200px;
    z-index: 1000;
    transition: all .3s ease
}

.transparent-bg {
    background-color: rgba(0, 0, 0, 0)
}

.img-max-width-200 {
    max-width: 200px
}

.padding-top-10 {
    padding-top: 10px
}

.img-container .card-title {
    font-size: 1rem;
    line-height: 1.2
}

@media (max-width:768px) {
    .img-container {
        position: static;
        max-width: 30%;
        margin: 20px auto;
        text-align: center
    }

    .img-container .card-title {
        font-size: .75rem
    }

    .card-body .text-center {
        padding-top: 0
    }

    .img-container .card-body {
        font-size: 1rem
    }

    .img-container img {
        max-width: 70%;
        height: auto
    }

    .display-2 {
        font-size: 2.5rem
    }
}

.hidden-message {
    display: none
}

.img-container img {
    max-width: 100%;
    height: auto
}

.press-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center
}

.press-gallery .polaroid {
    position: relative;
    padding: 10px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    transform: rotate(calc(-5deg + 10deg * var(--rotation)));
    transition: transform .3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 205px
}

.press-gallery .polaroid:hover {
    transform: rotate(0deg) scale(1.05)
}

.press-gallery .polaroid img {
    width: 100%;
    height: auto;
    display: block;
    flex-grow: 1
}

.press-gallery .polaroid .caption {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    background-color: rgba(255, 255, 255, .8);
    padding: 5px;
    border-radius: 5px;
    flex-shrink: 0
}