<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
          <rules>
            <!-- Rule to redirect index.html to the root -->
            <rule name="Redirect index.html to root" stopProcessing="true">
              <match url="^index\.html$" />
              <action type="Redirect" url="/" redirectType="Permanent" />
            </rule>
            <!-- Rule to redirect lizberries/index.html to lizberries/ -->
            <rule name="Redirect lizberries/index.html to lizberries/" stopProcessing="true">
              <match url="^lizberries/index\.html$" />
              <action type="Redirect" url="/lizberries/" redirectType="Permanent" />
            </rule>
			<!-- Rule to redirect 5cerealiz/index.html to 5cerealiz/ -->
            <rule name="Redirect 5cereali/index.html to 5cerealiz/" stopProcessing="true">
              <match url="^5cerealiz/index\.html$" />
              <action type="Redirect" url="/5cerealiz/" redirectType="Permanent" />
            </rule>
          </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
            <!-- Cache per risorse statiche: max 30 giorni (limite IIS) -->
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>